@import "./variable"
@import "./mixin"
page
  height: 100%

.invit
  height: 100%
  width: 100%
  position: relative

.invit-bac
  height: 83%
  width: 100%

.invit-text
  position: absolute
  top: 2%
  z-index: 1
  width: 70%
  height: 15%
  left: 15%
  image
    width: 100%
    height: 100%

.invit-bac-btn
  width: 100%
  height: 25%
  margin-top: -2%
  margin-bottom: -1%
.invit-bac-btn.write
  height: 45%
.invit-text-white
  position: absolute
  top: 50%
  z-index: 1
  width: 93%
  height: 55%
  left: 3%
  image
    width: 100%
    height: 100%

.invit-li-img
  height: 18%
  position: absolute
  top: -15px
  z-index: 1
  width: 90%
  display: flex
  left: 5%
  .li-img
    text-align: center
    width: 23%
    padding: 0px 5%

.invit-arrow
  height: 5%
  position: absolute
  top: 5%
  z-index: 1
  width: 100%
  display: flex
  .view-1
    width: 3%
    margin-left: 33%
  .view-2
    width: 3%
    margin-left: 28%

.invit-li-text
  height: 5%
  position: absolute
  top: 16%
  z-index: 1
  width: 90%
  display: flex
  left: 5%
  font-size: $font-size-small
  text
    text-align: center
    width: 33%

.invit-click
  height: 15%
  width: 80%
  position: absolute
  top: 33%
  left: 10%
  z-index: 1
  font-size: $font-size-small
  image
    position: absolute
  button
    text-align: center
    font-size: $font-size-large-m
    color: $color-white
    font-family: $font-family-regular

.invit-my
  position: absolute
  top: 64%
  font-size: $font-size-large
  display: flex
  width: 80%
  left: 10%
  view:nth-child(1)
    border-left: 5px solid #707FFF
    padding-left: 3px
  view:nth-child(2)
    font-size: $font-size-small
    right: 0px
    top: 5px
    position: absolute
    color: #999999

.invit-my-li
  position: absolute
  top: 74%
  display: flex
  width: 80%
  left: 10%
  font-size: $font-size-medium
  font-family: $font-family-regular
  view
    width: 33%
  view:nth-child(2)
    border-left: 1px solid #DAE0E4
    border-right: 1px solid #DAE0E4
  .rmb-color
    display: block
    text-align: center
    margin: 5px 0px
    font-weight: bold
    font-size: $font-size-large-m
    color: #FF3388
    text
      .rmb-color-min
        font-size: $font-size-medium

.number
  display: block
  text-align: center
  margin: 5px 0px
  color: #999999
  text
    font-weight: bold
    font-size: $font-size-large-m
    color: #333333

.invit-form
  position:absolute
  top:30%
  width:80%
  left:10%
  .invit-form-title
    text-align: center
  .invit-form-v
    font-size: $font-size-medium
    border-bottom: 1px solid #DAE0E4
    display: flex
    height: 39px
    color: #777
    position: relative
    align-items: center
    input
      width: 65%
      height: 39px
    .invit-form-v-picker
      width: 70%
      height: 30px
      line-height: 34px
    .invit-form-v-getcode
      border-left: 1px solid #ccc
      padding-left: 10px
      height: 16px
      font-size: $font-size-medium
    .eye
      position:absolute
      height:100%
      width:18%
      right:0
      top:0
      z-index:150
      image
        position:absolute
        position:absolute
        top:50%
        -webkit-transform:translateY(-50%)
        -moz-transform:translateY(-50%)
        transform:translateY(-50%)
        width:18px
        height:18px
        right:10px
    input::-webkit-input-placeholder
      color: #CCCCCC

  .invit-form-v-submit
    width: 90%
    margin: 0 auto
    .submit
      margin-top: 14px
      background: $color-theme
      color: $color-white
      font-size: $font-size-medium-x
      height: 45px
      line-height: 45px
      width: 90.667%
      border-radius: 50px
      nomal-icon()
    .disable
      disable-icon()
    .hover-btn
      hover-icon()

.right-activity
  position: absolute
  top: 35px
  right: 0px
  z-index: 5
  width: 60px
  height: 26px
  image
    width: 100%
    height: 100%
